body{
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;

}

.navbar.scrolled {
background-color: black;
}

#section2{

margin: 100px 0 100px 0;

}

.blurb p{
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}